.add-contact-hide {
    visibility: hidden;
    transform: translateY(-100%);
    opacity: 0;
}

.add-contact-show {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.add-contact-form-error-alert {
    transition: 0.8s;
}
